{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'home/mycss.css'%}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <style>
    body { 
    padding-top: 60px; 
    }

  </style>

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="">STUDENT LOOKUP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>


  <main role="main" class="container">
            <div class="container h-100 d-flex justify-content-center ">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
        
                        <div class="card hovercard shadow-lg p-3 mb-5 bg-white rounded" style="padding: 0px">
                            <div class="cardheader">
        
                            </div>
                            <div class="avatar">
                                <img alt="" src="{{ student.image.url }}">
                            </div>
        
                            <div class="info mydiv">
                                <div class="title">
                                    ROLL NO:
                                        {{student.reg_no}}
                                </div>
        
                                <div style="font-size : 20px; text-align: left; padding: 30px ">
                                    
        
        
                        <table class="table table-borderless">
                            <thead>

                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">NAME:</th>
                                    <td>{{ student.user.first_name }}</td>

                                </tr>
                                <tr>
                                    <th scope="row">DEPARTMENT:</th>
                                    <td>{{student.dep}}</td>

                                </tr> 
                                <tr>
                                    <th scope="row">ROOM:</th>
                                    <td colspan="2">{{student.room}}</td>

                                </tr>
                                
                                
                                <tr>
                                    <th scope="row">PARENTS NO:</th>
                                    <td colspan="2">{{ student.parent_no }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">STUDENT NO:</th>
                                    <td colspan="2">{{ student.student_no }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">BATCH:</th>
                                    <td colspan="2">{{ student.batch }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        
                        </div>
        
                    </div>
        
                </div>
            </div>
  </main>

</body>

</html>